<h1 class="banner"><%= @list.name.capitalize %></h1>
<br>
<button class="button-new-list"><%= link_to "New Bookmark", new_list_bookmark_path(params[:list_id]), class:"button-new-list-item" %></button>
<br>
<div class="container text-center">
  <div class="row row-cols-4">
    <% @bookmarks.each do |bookmark| %>
      <div class="col card">
        <div class="movie-card" style="background-image: url('<%=bookmark.movie.poster_url%>')">
        </div>
        <h3><%= bookmark.movie.title %></h3>
        <p><%= bookmark.comment.capitalize %></p>
        <button><%= link_to "Delete",
                    bookmark_path(bookmark),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></button>
      </div>
    <% end %>
  </div>
</div>
